@import '~antd/dist/antd.css';
.App {
  text-align: center;
}
.rootContainer {
  min-height: 100% !important;
}
.mainHeader {
  font-size: 24px;
  font-weight: 700;
}
.logoContainer {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.logoContainer .logoBig img {
  height: 64px;
  margin: 0 auto;
}
.logoContainer .logoSmall img {
  height: 32px;
  margin: 0 auto;
}
.menuContainer {
  position: fixed;
    text-align: center;
    bottom: 0;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    color: #fff;
    background: #002140;
    z-index: 1;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
