.peersTableContainer .ant-table-body{
    /* max-height: 300px !important;
    white-space: nowrap;
    overflow: hidden; */
}
.peersTableContainer {
    /* background-color: yellow */
}
.actionIconContainer:hover {
    cursor: pointer;
}
.textCenter {
    text-align: center !important;
}
.totalInfo {
    z-index: 999;
    background-color: blueviolet
}
.actionIcon {
    width: 40px;
    height: 40px;
}
.selectContainer {
   line-height: 20px;
}
.disabledInput {
    display: none !important;
}
.okStatus {
    color: 'green';
    background-color: 'green';
    font-weight: 700;
}
.attnStatus {
    color: 'orange';
    background-color: 'orange';
    font-weight: 700;
}
.dangerStatus {
    color: '#F78154';
    background-color: '#F78154';
}
.statusStyle {
    font-weight: 700;
}
.standartStatus {
    color: 'blue';
    font-weight: 700;
}
.iconCircle{
    padding-top: 6px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    opacity: .7;
    border-radius: 50%;
    font-size: 16px;
    width: 30px;
    height: 30px;
}
.iconCircle:hover {
    transition: opacity 0.5s linear; 
    width: 30px;
    height: 30px;
    font-size: 16px;
    opacity: 1;
    background-color: white;
    border-radius: 50%;
    font-size: 16px;
    width: 30px;
    height: 30px;
}