/* .itemPieChart .pie-stat {
    position: absolute !important;
    top: 50% !important;
    left: 46% !important;
} */
.antd-pro-charts-chart-card-avatar {
    position: absolute !important;
    top: 5% !important;
    right: 5% !important;
    font-size: 28px;
}
.antd-pro-charts-chart-card-total {
    font-size: 28px;
}
.ant-card-body {
    background-color: '#F0F0F0' 
}
.dashboardCardItem {
    margin-right: 5px;
}
.pieChartItem {
    padding-bottom: 7px;
}
.lightRed {
    color: #F69899;
}
.lightGreen {
    color: #64EA91;
}
.lightBlue {
    color: #8FC9FB;
}
.lightViolet {
    color: #D897EB;
}
.cardIcon {
    opacity: 1;
    font-size: 3rem;
    margin-top: 2rem;
}
.rotate {
    display: inline-block;
    animation: rotating 0.5s linear 1;
}
@keyframes rotating {
	from
		{
		    transform: rotate(0deg);
		}
	to
		{
		    transform: rotate(360deg);
		}
}