:global {
  //@import url('~normalize.css/normalize.css');

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  .auth0-lock-overlay {
    opacity: 0 !important;
  }

  .auth0-lock.auth0-lock .auth0-lock-content-wrapper {
    overflow: visible !important;
  }

  .auth0-lock.auth0-lock .auth0-lock-widget {
    width: 380px !important;
  }
}
