.alertHideAnimation {
    margin-bottom: 20;
    transition: 'opacity 2s linear';
    animation: opacityToggle 5s;
 }
 @keyframes opacityToggle{
    0%{
      opacity: 0;
    }
    30%{
       opacity: 1
    }
    60%{
        opacity: 1
    }
    100%{
      opacity: 0;
    }
}
span .editIcon:hover {
    color: #1890FF
}
input[type="text"]:disabled {
    background-color: #fff;
    color: #595959;
    cursor: default;
}